.vscode/**
.vscode-test/**
.claude/**
.github/**
out/**
test/**
plan/**
deprecated/**
target/**
node_modules/**
*.vsix
pnpm-lock.yaml
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
